
@model IEnumerable<MpumiStudyGroup.Models.myStudyClass1>
@{
    ViewBag.Title = "StudyGroup";
}

<h2>StudyGroup</h2>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.StudentNumber) </th>
        <th>@Html.DisplayNameFor(model => model.FirstName) </th>
        <th>@Html.DisplayNameFor(model => model.Surname) </th>
        <th>@Html.DisplayNameFor(model => model.Email) </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.StudentNumber) </td>
            <td>@Html.DisplayFor(modelItem => item.FirstName) </td>
            <td>@Html.DisplayFor(modelItem => item.Surname) </td>
            <td>@Html.DisplayFor(modelItem => item.Email) </td>
            @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
        </tr>

    }
</table>